@{
    ViewData["Title"] = "HelpCenter";
}
<link rel="stylesheet" href="~/css/help.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<body>
    <div class="container">
        <aside id="sidebar">
            <div class="top">
                <div class="logo">
                    <img src="/images/logo.png" alt="" />
                    <h2>LUX<span class="color-primary">IFER</span></h2>
                </div>
                <div class="close" id="close-btn">
                    <span class="material-icons-sharp"> close </span>
                </div>
            </div>
            <div class="sidebar">
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <span class="material-icons-sharp"> dashboard </span>
                    <h3>Dashboard</h3>
                </a>
                <a asp-area="" asp-controller="Clientes" asp-action="Index">
                    <span class="material-icons-sharp"> groups </span>
                    <h3>Clientes</h3>
                </a>
                <a asp-area="" asp-controller="Luminarias" asp-action="Index">
                    <span class="material-icons-sharp"> lightbulb </span>
                    <h3>Luminárias</h3>
                </a>
                <a asp-area="" asp-controller="Grupos" asp-action="Index">
                    <span class="material-icons-sharp"> lightbulb </span>
                    <h3>Grupos</h3>
                </a>
                <a asp-area="" asp-controller="Home" asp-action="HelpCenter" class="active">
                    <span class="material-icons-sharp"> help </span>
                    <h3>Help Center</h3>
                </a>
                <a asp-area="" asp-controller="Settings" asp-action="Index">
                    <span class="material-icons-sharp"> settings </span>
                    <h3>Settings</h3>
                </a>
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <span class="material-icons-sharp"> logout </span>
                    <h3>Logout</h3>
                </a>
            </div>
        </aside>

        <main>

            <div>
                <ul class="accordion">
                    <li>
                        <input type="radio" name="accordion" id="first" checked />
                        <label for="first">Produtos</label>
                        <div class="content">
                            <p>
                                Em linguística, a noção de texto é ampla e ainda aberta a uma definição mais precisa.
                                Grosso modo, pode ser entendido como manifestação linguística das ideias de um autor,
                                que serão interpretadas pelo leitor de acordo com seus conhecimentos linguísticos e culturais.
                                Seu tamanho é variável.
                            </p>
                        </div>
                    </li>
                    <li>
                        <input type="radio" name="accordion" id="second" />
                        <label for="second">Informação</label>
                        <div class="content">
                            <p>
                                Em linguística, a noção de texto é ampla e ainda aberta a uma definição mais precisa.
                                Grosso modo, pode ser entendido como manifestação linguística das ideias de um autor,
                                que serão interpretadas pelo leitor de acordo com seus conhecimentos linguísticos e culturais.
                                Seu tamanho é variável.
                            </p>
                        </div>
                    </li>
                    <li>
                        <input type="radio" name="accordion" id="third" />
                        <label for="third">Questões</label>
                        <div class="content">
                            <p>
                                Em linguística, a noção de texto é ampla e ainda aberta a uma definição mais precisa.
                                Grosso modo, pode ser entendido como manifestação linguística das ideias de um autor,
                                que serão interpretadas pelo leitor de acordo com seus conhecimentos linguísticos e culturais.
                                Seu tamanho é variável.
                            </p>
                        </div>
                    </li>
                    <li>
                        <input type="radio" name="accordion" id="fourth" />
                        <label for="fourth">Guia</label>
                        <div class="content">
                            <p>
                                Em linguística, a noção de texto é ampla e ainda aberta a uma definição mais precisa.
                                Grosso modo, pode ser entendido como manifestação linguística das ideias de um autor,
                                que serão interpretadas pelo leitor de acordo com seus conhecimentos linguísticos e culturais.
                                Seu tamanho é variável.
                            </p>
                        </div>
                    </li>
                </ul>



            </div>


        </main>

        <div class="right">
            <div class="top">
                <button id="menu-btn">
                    <span class="material-icons-sharp">menu</span>
                </button>
                <div class="theme-toggler">
                    <span class="material-icons-sharp active">light_mode</span>
                    <span class="material-icons-sharp">dark_mode</span>
                </div>
                <div class="profile">
                    <div class="info">
                        <p>Olá, <b>Diogo</b></p>
                        <small class="text-muted">Admin</small>
                    </div>
                    <div class="profile-photo">
                        <img src="/images/foto.jpeg" alt="" />
                    </div>
                </div>
            </div>

            <div class="txte">
                <h1>Como podemos ajudar?</h1>
                <form method="post">
                    <div class="txt_field">
                        <input type="text" required>
                        <span></span>
                        <label>Nome</label>
                    </div>
                    <div class="txt_field">
                        <input type="text" required>
                        <span></span>
                        <label>Email</label>
                    </div>
                    <div class="txt_field">
                        <input type="text" required>
                        <span></span>
                        <label>Assunto</label>
                    </div>
                    <input type="submit" value="Submeter">
                </form>

            </div>
        </div>
    </div>
</body>



