@model Grupo

@{
    ViewData["Title"] = "Eliminar Grupo";
}
<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <style>
        #map {
            height: 350px;
        }
    </style>
</head>

<body>
    <div class="container">
        <main>
            <hr />
            <div class="formulario">
                <h1 class="form-title">Eliminar Grupo</h1>

                <div class="main-user-info">

                    <div class="luminaria-specs">

                        <div class="specs-luminaria">
                            <h1>Geral</h1>
                            <div class="specs">
                                <h2>Id do Grupo:</h2>
                                <h2>@Model.Id</h2>
                            </div>
                            <div class="specs">
                                <h2>Nome do Grupo:</h2>
                                <h2>@Model.Nome</h2>
                            </div>
                            <div class="specs">
                                <h2>País:</h2>
                                <h2>@Model.Cor</h2>
                            </div>
                        </div>
                    </div>
                    <div class="form-submit-btn">
                        <button class="modern-button">
                            <a role="button" asp-action="DeleteFinal" asp-controller="Grupos" asp-route-id="@Model.Id" class="btn btn-primary">Eliminar</a>
                        </button>
                    </div>
                </div>
            </div>
        </main>

        <div class="right">
            <div class="top">
                <button id="menu-btn">
                    <span class="material-icons-sharp">menu</span>
                </button>
                <div class="theme-toggler">
                    <span class="material-icons-sharp active">light_mode</span>
                    <span class="material-icons-sharp">dark_mode</span>
                </div>
                
            </div>

            <div class="estatisticas">
                <div class="header">
                    <h1>Estatisticas</h1>
                    <a href="#">More<span class="material-icons-sharp">chevron_right</span></a>
                </div>
                <div class="estatistica">
                    <span class="material-icons-sharp"> lightbulb </span>
                    <h4>Data de instalação</h4>
                    <div class="date-time">
                        <p>7 Nov, 2021</p>
                        <small class="text-muted">9:14pm</small>
                    </div>
                    <div class="date-time">
                        <p>7 Nov, 2021</p>
                        <small class="text-muted">9:14pm</small>
                    </div>
                    <div class="date-time">
                        <p>7 Nov, 2021</p>
                        <small class="text-muted">9:14pm</small>
                    </div>
                </div>
                <div class="estatistica">
                    <span class="material-icons-sharp"> lightbulb </span>
                    <h4>Última revisão</h4>
                    <div class="date-time">
                        <p>7 Nov, 2021</p>
                        <small class="text-muted">9:14pm</small>
                    </div>
                    <div class="date-time">
                        <p>7 Nov, 2021</p>
                        <small class="text-muted">9:14pm</small>
                    </div>
                    <div class="date-time">
                        <p>7 Nov, 2021</p>
                        <small class="text-muted">9:14pm</small>
                    </div>
                </div>
            </div>

            <div class="estatisticas">
                <div class="header">
                    <h1>Estatisticas</h1>
                    <a href="#">More<span class="material-icons-sharp">chevron_right</span></a>
                </div>
                <div class="estatistica">
                    <span class="material-icons-sharp"> lightbulb </span>
                    <h4>Data de instalação</h4>
                    <div class="date-time">
                        <p>7 Nov, 2021</p>
                        <small class="text-muted">9:14pm</small>
                    </div>
                    <div class="date-time">
                        <p>7 Nov, 2021</p>
                        <small class="text-muted">9:14pm</small>
                    </div>
                    <div class="date-time">
                        <p>7 Nov, 2021</p>
                        <small class="text-muted">9:14pm</small>
                    </div>
                </div>
                <div class="estatistica">
                    <span class="material-icons-sharp"> lightbulb </span>
                    <h4>Última revisão</h4>
                    <div class="date-time">
                        <p>7 Nov, 2021</p>
                        <small class="text-muted">9:14pm</small>
                    </div>
                    <div class="date-time">
                        <p>7 Nov, 2021</p>
                        <small class="text-muted">9:14pm</small>
                    </div>
                    <div class="date-time">
                        <p>7 Nov, 2021</p>
                        <small class="text-muted">9:14pm</small>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="./index.js"></script>
    <script>
        // Initialize the map
        var map = L.map('map').setView([0, 0], 2);

        // Create the tile layer
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors'
        }).addTo(map);

        // Define a variable for the marker
        var marker;

        // Function to handle the map click event
        function onMapClick(e) {
            if (marker) {
                map.removeLayer(marker);
            }

            marker = L.marker(e.latlng).addTo(map);
            document.getElementById("input1").value = e.latlng.lat;
            document.getElementById("input2").value = e.latlng.lng;
        }

        // Add the map click event listener
        map.on('click', onMapClick);
    </script>

</body>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}