@using Luxifer.Enums;
@model User

@{
    ViewData["Title"] = "Criar Cliente";
}
<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <style>
        #map {
            height: 350px;
        }
    </style>
</head>

<body>
    <div class="container">
       
        <main>

            <hr />
          
           
            <a asp-area="" asp-controller="User" asp-action="Index">
                <span class="header-titulo material-icons-sharp">
                    <span class="material-symbols-sharp">
                        arrow_back
                    </span>
                </span>
            </a>

            <div class="formulario">
                <h1 class="form-title">Criar Cliente</h1>
                <form asp-controller="User" asp-action="Create" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="main-user-info">

                        <div class="txt_field">
                            <input asp-for="Nome" type="text" required>
                            <span></span>
                            <label>Nome</label>
                            <span class="text-danger"></span>    
                        </div>
                        <div class="txt_field">
                            <input asp-for="Login" type="text" required>
                            <span></span>
                            <label>Nome de Utilizador</label>
                            <span class="text-danger"></span>
                        </div>
                        <div class="txt_field">
                            <input asp-for="Email" type="email" required>
                            <span></span>
                            <label>Email</label>
                            <span class="text-danger"></span>
                        </div>
                        <div class="txt_field">
                            <input asp-for="Telefone" type="text" required>
                            <span></span>
                            <label>Telefone</label>
                            <span class="text-danger"></span>
                        </div>
                        <div class="txt_field">
                            <span></span>
                            <select asp-for="Perfil" class="form-control">
                                <option value="">Selecione o Perfil</option>
                                <option value="@PerfilEnum.Admin">Administrador</option>
                                <option value="@PerfilEnum.Cliente">Padrao</option>
                            </select>
                            <span class="text-danger"></span>
                        </div>
                        <div class="txt_field">
                            <input asp-for="Password" type="password" required>
                            <span></span>
                            <label>Password</label>
                            <span class="text-danger"></span>
                        </div>
                        <div class="form-submit-btn">
                            <input type="submit" value="Criar" class="btn btn-primary" />
                        </div>
          
                    </div>

                    
                </form>
            </div>

        </main>

        <div class="right">
            <div class="top">
                <button id="menu-btn">
                    <span class="material-icons-sharp">menu</span>
                </button>
                <div class="theme-toggler">
                    <span class="material-icons-sharp active">light_mode</span>
                    <span class="material-icons-sharp">dark_mode</span>
                </div>
            </div>

            <div class="estatisticas">
                <div class="header">
                    <h1>Estatisticas</h1>
                    <a href="#">More<span class="material-icons-sharp">chevron_right</span></a>
                </div>
                <div class="estatistica">
                    <span class="material-icons-sharp"> lightbulb </span>
                    <h4>Data de instalação</h4>
                    <div class="date-time">
                        <p>7 Nov, 2021</p>
                        <small class="text-muted">9:14pm</small>
                    </div>
                    <div class="date-time">
                        <p>7 Nov, 2021</p>
                        <small class="text-muted">9:14pm</small>
                    </div>
                    <div class="date-time">
                        <p>7 Nov, 2021</p>
                        <small class="text-muted">9:14pm</small>
                    </div>
                </div>
                <div class="estatistica">
                    <span class="material-icons-sharp"> lightbulb </span>
                    <h4>Última revisão</h4>
                    <div class="date-time">
                        <p>7 Nov, 2021</p>
                        <small class="text-muted">9:14pm</small>
                    </div>
                    <div class="date-time">
                        <p>7 Nov, 2021</p>
                        <small class="text-muted">9:14pm</small>
                    </div>
                    <div class="date-time">
                        <p>7 Nov, 2021</p>
                        <small class="text-muted">9:14pm</small>
                    </div>
                </div>
            </div>

            <div class="estatisticas">
                <div class="header">
                    <h1>Estatisticas</h1>
                    <a href="#">More<span class="material-icons-sharp">chevron_right</span></a>
                </div>
                <div class="estatistica">
                    <span class="material-icons-sharp"> lightbulb </span>
                    <h4>Data de instalação</h4>
                    <div class="date-time">
                        <p>7 Nov, 2021</p>
                        <small class="text-muted">9:14pm</small>
                    </div>
                    <div class="date-time">
                        <p>7 Nov, 2021</p>
                        <small class="text-muted">9:14pm</small>
                    </div>
                    <div class="date-time">
                        <p>7 Nov, 2021</p>
                        <small class="text-muted">9:14pm</small>
                    </div>
                </div>
                <div class="estatistica">
                    <span class="material-icons-sharp"> lightbulb </span>
                    <h4>Última revisão</h4>
                    <div class="date-time">
                        <p>7 Nov, 2021</p>
                        <small class="text-muted">9:14pm</small>
                    </div>
                    <div class="date-time">
                        <p>7 Nov, 2021</p>
                        <small class="text-muted">9:14pm</small>
                    </div>
                    <div class="date-time">
                        <p>7 Nov, 2021</p>
                        <small class="text-muted">9:14pm</small>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="./index.js"></script>
    <script>

        var map = L.map('map').setView([0, 0], 2);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors'
        }).addTo(map);

        var marker;

        function onMapClick(e) {
            if (marker) {
                map.removeLayer(marker);
            }

            marker = L.marker(e.latlng).addTo(map);
            document.getElementById("input1").value = e.latlng.lat;
            document.getElementById("input2").value = e.latlng.lng;
        }

        map.on('click', onMapClick);
    </script>

</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
